<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDKCPP-CognitoIdentity" version="1.4.20140630.10" targetFramework="native" />
  <package id="AWSSDKCPP-CognitoIdentity.redist" version="1.4.20140630.10" targetFramework="native" />
  <package id="AWSSDKCPP-CognitoIdentityProvider" version="1.4.20160418.10" targetFramework="native" />
  <package id="AWSSDKCPP-CognitoIdentityProvider.redist" version="1.4.20160418.10" targetFramework="native" />
  <package id="AWSSDKCPP-Core" version="1.4.10" targetFramework="native" />
  <package id="AWSSDKCPP-Core.redist" version="1.4.10" targetFramework="native" />
  <package id="openssl-vc140-static-32_64" version="1.1.0" targetFramework="native" />
</packages>